* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

/* ::-webkit-scrollbar {
  width: 10px; 
} /* Width of the scrollbar */

/* ::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #635FC7;
} */

/* Style for Firefox-based browsers */

