@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,700;1,200&display=swap');

@font-face {
    font-family: "JakartaLight";
    src: url('../src/assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf');
}

@font-face {
    font-family: "JakartaBold";
    src: url("../src/assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf");
}

@font-face {
    font-family: "JakartaSemiBold";
    src: url('../src/assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf');
}