@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JakartaLight";
  src: url("../src/assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf");
}

@font-face {
  font-family: "JakartaBold";
  src: url("../src/assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf");
}

@font-face {
  font-family: "JakartaSemiBold";
  src: url("../src/assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf");
}
